/* stylelint-disable-next-line */
@import '../../assets/variables';

.edit-password {
  margin: 40px auto;
  max-width: 510px;

  &__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
  }

  &__avatar-wrapper {
    width: 130px;
    height: 130px;
  }

  &__input {
    margin-bottom: 4px;
  }

  &__save-button {
    margin-top: 60px;
  }
}
