@import '../../assets/variables';

.profile-container {
  margin: 0 auto;
  max-width: 510px;
  &__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__input {
    margin-bottom: 4px;
  }
  &__links {
    margin-top: 60px;
    &__item {
      padding: 6px;
      border-bottom: 1px solid $lightGrey;
      margin-bottom: 6px;
    }
    &__item-danger {
      padding: 6px;
    }
  }
}