/* stylelint-disable-next-line */
@import '../../assets/variables';

.avatar-container {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  &__image {
    background: $lightGrey;
    padding: 40px;
  }
}
